.card{
    box-sizing: border-box;
    border: 1px solid #aaa2a2;
    border-radius: 10px;
    width: 267px;
    height: 456px;
    overflow: hidden;
    /* background-color: green; */
}
.block-text{
    padding: 24px 16px;
    margin: -5px 0 0 0;
    height: 156px;
    /* background-color: yellow; */
}
.card p{
    font-family: rubik, arial, san-serif;
    font-size: 12px;
    color: #666666;
    font-weight: 700;
    margin-bottom: 8px;
   
}
.card h2{
    font-family: rubik, arial, san-serif;
    font-size: 24px;
    color: #444444;
    margin-top: -2px;

}
.card img{
    width: 267px;
    height: 200px;
    margin: 0;
    
}
.precio{
    height: 100px;
    border-top: 1px solid #aaa2a2;
    /* background-color: #a11515; */
}
